# Git and environments
.git
.gitignore
venv/
env/

# Secrets
.env

# Python Cache
__pycache__/
*.pyc
.pytest_cache/

# Optional: Ignore massive local vector DB folders if Chroma creates one
chroma_db/